<!DOCTYPE html>
<html>
  <head>
    <title>StreetCurious</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src= <%="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkhfALUkVCinxlVT7JaFkGi9khc-r1Kx4"%> charset="utf-8"></script>
    <link href="https://fonts.googleapis.com/css?family=Baloo|Raleway" rel="stylesheet">
    <link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" > 
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
<body>
  </head>

  <body>
    <%= yield %>
  </body>
</html>